{% extends 'base.html' %}

{% block title %}
Estimaciones del Cliente
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Estimaciones de Costo</h1>
    <div class="row">
        {% for estimacion in estimaciones %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Obra: {{ estimacion.id_obra.tituloObra }}</h5>
                    <p class="card-text">
                        <strong>Autor:</strong> {{ estimacion.id_obra.nombreAutorObra }}<br>
                        <strong>Propietario:</strong> {{ estimacion.id_obra.propietarioObra }}<br>
                        <strong>Número de Páginas:</strong> {{ estimacion.id_obra.numeroPaginas }}<br>
                        <strong>Tirada:</strong> {{ estimacion.id_obra.tirada }}<br>
                        <strong>Estado:</strong> {{ estimacion.id_obra.id_estado.nombreEstado }}<br>
                        <strong>Total Estimado:</strong> ${{ estimacion.totalEstimado }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}